@import './../../assets/styles/constants';
$rootClassName: login-page;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    gap: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: calc(100% - 30px);
    width: 400px;

    .#{$rootClassName}-item {
      width: 100%;
    }
  }
}
