@import '../../assets/styles/constants';
$rootClassName: header-component;

:export {
  rootClassName: $rootClassName;
}

.#{$rootClassName} {
  background-color: $primary;
  color: $white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  .#{$rootClassName}-left-content {
    display: flex;
    align-items: center;
  }
}
