// $primary: #124f89;

$primary: #108bb1;
$primary-light: #1fbbea;
$primary-dark: #0c6783;
$primary-contrast: #eef1ef;

$secondary: #daf4fc;
$secondary-light: #ecf9fd;
$secondary-dark: #b4e8f8;
$secondary-contrast: #100c06;

// $primary-dark: #5f8fa4;
// $gray: #647a89;
$darken-white: #eef1ef;
$white: #ffffff;
$black: #100c06;
